html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e4e4e4;
  margin: 1em 3rem;
}

#frame {
  background-color: #00c434;
  /* background-image: url(../../Images/SoccerGoal_1000x563.png);  or image as background */
  margin: 10px auto;
  width: 1000px;
  height: 563px;
  border: 1px solid #000;
  padding: 10px;
  cursor: crosshair; 
}

#ball {
  position: relative;
  filter: drop-shadow(4px 4px 12px black);
  width: 100px;       
  animation-fill-mode: forwards;
  /* retains the style of the last keyframe when the animation ends */
  transform: translate(440px, 115px);
  /* starting position of the object */

  z-index: 2;
}

#keeper {
  position: relative;
  filter: drop-shadow(4px 4px 12px black);
  width: 224px;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: keep;

  z-index: 1;
}

/* Object moves from top to bottom */
@keyframes keep {
  0% {
    transform: translate(370px, 70px);
  }
  25% {
    transform: translate(100px, 70px);
  }
  50% {
    transform: translate(370px, 70px);
  }
  75% {
    transform: translate(650px, 70px);
  }
  100% {
    transform: translate(370px, 70px);
  }
}

.btn {
  text-align: center;
}

.btn button {
  margin: 4px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: black;
  font-size: 1em;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
}

.btn button:hover {
  box-shadow: 0 0 4px black;
}

#btnStart {
  background-color: greenyellow;
}

#btnJumping {
  color: white;
  background-color: red;
}

/* Object moves from top to bottom */
@keyframes bounce {
  0%,
  100% {
    width: 100px;
    transform: translate(440px, 115px);
    /* starting position of the object */
  }
  50% {
    transform: translate(440px, 0px);
  }
}

/* for js */
.bounceAnime {
  animation-name: bounce;
  animation-duration: 4s;
}

/* Object moves from center to left corner */
@keyframes shootLeft {
  0% {
    width: 100px;
    transform: translate(440px, 115px);
    /* starting position of the object */
  }

  50% {
    width: 60px;
    transform: translate(150px, -260px);
  }
  /* when object hits goal, shadow effect and size */
  100% {
    width: 62px;
    transform: translate(150px, -260px);
    /* starting position of the object */
    filter: drop-shadow(3px 3px 10px #FF5F15);
  }
}

/* for js */
.shootLeftAnime {
  animation-duration: 1.5s;
  animation-name: shootLeft;
}

/* Object moves to the top center */
@keyframes shootCenter {
  0% {
    width: 100px;
    transform: translate(440px, 115px);
    /* starting position of the object */
  }

  50% {
    width: 60px;
    transform: translate(455px, -250px);
  }
  100% {
    width: 62px;
    transform: translate(455px, -250px);
    /* starting position of the object */
    filter: drop-shadow(3px 3px 10px #FF5F15);
  }
}

/* for js */
.shootCenterAnime {
  animation-duration: 1.5s;
  animation-name: shootCenter;
}

/* Object moves from center to right corner */
@keyframes shootRight {
  0% {
    width: 100px;
    transform: translate(440px, 115px);
    /* starting position of the object */
  }

  50% {
    width: 60px;
    transform: translate(750px, -260px);
  }
  100% {
    width: 62px;
    transform: translate(750px, -260px);
    /* starting position of the object */
    filter: drop-shadow(3px 3px 10px #FF5F15);
  }
}

/* for js */
.shootRightAnime {
  animation-duration: 1.5s;
  animation-name: shootRight;
}

/* Object "bounces" */
@keyframes moveAndBounce {
  0% {
    width: 100px;
    transform: translate(440px, 115px);
  }

  50% {
    width: 60px;
    transform: translate(600px, -290px);
  }

  100% {
    width: 600px;
    transform: translate(230px, -225px);
  }
}

/* for js */
.jumpingAnime {
  animation-duration: 0.7s;
  animation-name: moveAndBounce;
}